<a href="https://colab.research.google.com/github/baeksumin/k-project/blob/main/KRX_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import requests
import pandas as pd
from io import BytesIO
from datetime import datetime


headers = {'User-Agent': 'Chrome/93.0.4577.82 Safari/537.36,'}  

data = {'mktsel': 'ALL',
        'typeNo': '0',
        'searchText': '',
        'bld': 'dbms/comm/finder/finder_stkisu',}

url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r = requests.post(url,data,headers=headers)
j = json.loads(r.text)

df = pd.json_normalize(j['block1'])
print(len(df))
print(df.iloc[1]['full_code'])

2584
KR7095570008

In [ ]:
df

         full_code short_code codeName  ... marketEngName ord1 ord2
0     KR7060310000     060310       3S  ...        KOSDAQ        16
1     KR7095570008     095570   AJ네트웍스  ...         KOSPI        16
2     KR7006840003     006840    AK홀딩스  ...         KOSPI        16
3     KR7054620000     054620   APS홀딩스  ...        KOSDAQ        16
4     KR7265520007     265520    AP시스템  ...        KOSDAQ        16
...            ...        ...      ...  ...           ...  ...  ...
2577  KR7000542001     000547  흥국화재2우B  ...         KOSPI        16
2578  KR7000541003     000545    흥국화재우  ...         KOSPI        16
2579  KR7003280005     003280     흥아해운  ...         KOSPI        16
2580  KR7037440005     037440       희림  ...        KOSDAQ        16
2581  KR7238490007     238490       힘스  ...        KOSDAQ        16

[2582 rows x 8 columns]

In [ ]:
df = df.set_index('short_code')
df

               full_code codeName marketCode marketName marketEngName ord1 ord2
short_code
060310      KR7060310000       3S        KSQ        코스닥        KOSDAQ        16
095570      KR7095570008   AJ네트웍스        STK       유가증권         KOSPI        16
006840      KR7006840003    AK홀딩스        STK       유가증권         KOSPI        16
054620      KR7054620000   APS홀딩스        KSQ        코스닥        KOSDAQ        16
265520      KR7265520007    AP시스템        KSQ        코스닥        KOSDAQ        16
...                  ...      ...        ...        ...           ...  ...  ...
000547      KR7000542001  흥국화재2우B        STK       유가증권         KOSPI        16
000545      KR7000541003    흥국화재우        STK       유가증권         KOSPI        16
003280      KR7003280005     흥아해운        STK       유가증권         KOSPI        16
037440      KR7037440005       희림        KSQ        코스닥        KOSDAQ        16
238490      KR7238490007       힘스        KSQ        코스닥        KOSDAQ        16

[2582 rows x 7 columns]

In [ ]:
full_code = df.loc['005930']['full_code']
full_code

'KR7005930003'

In [ ]:
df = df.set_index('short_code') #'종목코드' 인덱스 설정.
full_code = df.loc['005930']['full_code']  #종목코드 통해서 full_code 가져오기.

strtDd = '1900101'
endDd = '20210113'

data2 = {'bld': 'dbms/MDC/STAT/standard/MDCSTAT03502',
         'isuCd': full_code,
         'isuCd2': full_code,
         'strtDd': strtDd,
         'endDd':endDd,
         'searchType': '2',
         'mktId': 'ALL',
         'csvxls_isNo': 'false',}

url2 = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r2 = requests.post(url2, data2, headers)
j2 = json.loads(r2.text)
df3= pd.DataFrame(j2['output'])
df3

          TRD_DD TDD_CLSPRC FLUC_TP_CD  ...   PBR    DPS DVD_YLD
0     2021/01/13     89,700          2  ...  2.39  1,416    1.58
1     2021/01/12     90,600          2  ...  2.41  1,416    1.56
2     2021/01/11     91,000          1  ...  2.42  1,416    1.56
3     2021/01/08     88,800          1  ...  2.37  1,416    1.59
4     2021/01/07     82,900          1  ...  2.21  1,416    1.71
...          ...        ...        ...  ...   ...    ...     ...
6510  1995/05/08    121,000          2  ...     -      -       -
6511  1995/05/06    122,000          2  ...     -      -       -
6512  1995/05/04    122,500          2  ...     -      -       -
6513  1995/05/03    123,500          1  ...     -      -       -
6514  1995/05/02    119,500          2  ...     -      -       -

[6515 rows x 11 columns]

In [ ]:
strtDd = '19000101'
endDd= '20210113'

data2 = {'bld': 'dbms/MDC/STAT/standard/MDCSTAT01701',
         'isuCd': full_code,
         'isuCd2':'',
         'strtDd':strtDd,
         'endDd': endDd,
         'share': '1',
         'money': '1',         
        'csvxls_isNo': 'false'}
r2 = requests.post(url2, data2, headers)
j2 = json.loads(r2.text)
df2=pd.DataFrame(j2['output'])
df2

          TRD_DD TDD_CLSPRC  ...               MKTCAP      LIST_SHRS
0     2021/01/13     89,700  ...  535,489,494,735,000  5,969,782,550
1     2021/01/12     90,600  ...  540,862,299,030,000  5,969,782,550
2     2021/01/11     91,000  ...  543,250,212,050,000  5,969,782,550
3     2021/01/08     88,800  ...  530,116,690,440,000  5,969,782,550
4     2021/01/07     82,900  ...  494,894,973,395,000  5,969,782,550
...          ...        ...  ...                  ...            ...
6510  1995/05/08    121,000  ...    6,578,606,045,000     54,368,645
6511  1995/05/06    122,000  ...    6,632,974,690,000     54,368,645
6512  1995/05/04    122,500  ...    6,660,159,012,500     54,368,645
6513  1995/05/03    123,500  ...    6,714,527,657,500     54,368,645
6514  1995/05/02    119,500  ...    6,497,053,077,500     54,368,645

[6515 rows x 12 columns]