<a href="https://colab.research.google.com/github/baeksumin/k-project/blob/main/data_collection/KRX_fullcode_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pickle
import json
import requests
import pandas as pd
from io import BytesIO
import pytz
from datetime import datetime, date, timedelta

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
headers = {'User-Agent': 'Chrome/93.0.4577.82 Safari/537.36,'}

data = {'mktsel': 'ALL',
         'typeNo': '0',
         'searchText': '',
         'bld': 'dbms/comm/finder/finder_stkisu',}

url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r = requests.post(url,data,headers=headers)
j = json.loads(r.text)

df = pd.json_normalize(j['block1'])
df = df[['full_code','short_code','codeName','marketEngName']]

df['status'] = '상장'

df

         full_code short_code codeName marketEngName status
0     KR7060310000     060310       3S        KOSDAQ     상장
1     KR7095570008     095570   AJ네트웍스         KOSPI     상장
2     KR7006840003     006840    AK홀딩스         KOSPI     상장
3     KR7054620000     054620   APS홀딩스        KOSDAQ     상장
4     KR7265520007     265520    AP시스템        KOSDAQ     상장
...            ...        ...      ...           ...    ...
2604  KR7000542001     000547  흥국화재2우B         KOSPI     상장
2605  KR7000541003     000545    흥국화재우         KOSPI     상장
2606  KR7003280005     003280     흥아해운         KOSPI     상장
2607  KR7037440005     037440       희림        KOSDAQ     상장
2608  KR7238490007     238490       힘스        KOSDAQ     상장

[2609 rows x 5 columns]

In [ ]:
#공유 드라이브에 데이터 저장.
with open('/content/drive/MyDrive/[Shared]K-Project/data/full_code.pkl', 'wb') as f:
	pickle.dump(df, f)